:root {
  --Light-red: hsl(0, 100%, 67%);
  --Light-red-alt: hsla(0, 100%, 87%, 0.1);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Orangey-yellow-alt: hsl(39, 100%, 87%, 0.1);
  --Green-teal: hsl(166, 100%, 37%);
  --Green-teal-alt: hsl(166, 100%, 87%, 0.1);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Cobalt-blue-alt: hsl(234, 85%, 87%, 0.1);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Light-lavender-alt: hsl(241, 100%, 94%, 0.7);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --linear-gradient-left-container: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --linear-gradient-left-container-alt: linear-gradient(
    hsl(252, 100%, 76%),
    hsl(241, 81%, 63%)
  );

  --linear-gradient-circle: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  --font-size: 18px;

  --fw800: 800;
  --fw700: 700;
  --fw500: 500;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-weight: var(--fw500);
  font-size: var(--font-size);
  font-family: Hanken Grotesk;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: var(--Dark-gray-blue);
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
  transition: all 300ms;
}

/*---------------------------------------------------------------
|| MAIN
**--------------------------------------------------------------- */
main {
  width: 800px;
  max-width: 100%;
}
.task-main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  border-radius: 30px;
  background: var(--White);
  box-shadow: 0px 10px 60px var(--Pale-blue);
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .task-main__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  width: 100%;
}

/* CONTAINER FIRST CHILD */
.container:first-child {
  padding: 2.5rem 0;
  text-align: center;
  border-radius: 30px;
  background: var(--linear-gradient-left-container);
}

@media screen and (max-width: 600px) {
  .container:first-child {
    border-radius: 0 0 30px 30px;
  }
}

.results,
.circle {
  margin-bottom: 2rem;
}

.results h1 {
  font-size: 24px;
  color: var(--Light-lavender);
}

/* CIRCLE */
.circle {
  width: 50%;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: 100%;
  background: var(--linear-gradient-circle);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.circle span {
  font-size: 4rem;
  color: var(--White);
  font-weight: var(--fw800);
}

.circle small {
  color: var(--Light-lavender-alt);
}

/* REMARK */
.remark {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.remark h1 {
  font-size: 2rem;
  color: var(--White);
  margin-bottom: 1rem;
}

.remark p {
  width: 62%;
  color: var(--Light-lavender);
}

@media screen and (max-width: 600px) {
  .remark p {
    width: 78%;
  }
}

/* CONTAINER LAST CHILD */
.container:last-child {
  padding: 2.5rem;
}

.container:last-child h1 {
  font-size: 1.3rem;
  font-weight: var(--fw700);
}

/* CATEGORY CONTAINER */
.category-container {
  width: 100%;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 1rem;
  border-radius: 10px;
}

.category .flex {
  display: flex;
  gap: 10px;
  align-items: center;
}
.category:nth-child(1) {
  background: var(--Light-red-alt);
}
.category:nth-child(1) .category-name {
  color: var(--Light-red);
}

.category:nth-child(2) {
  background: var(--Orangey-yellow-alt);
}
.category:nth-child(2) .category-name {
  color: var(--Orangey-yellow);
}

.category:nth-child(3) {
  background: var(--Green-teal-alt);
}
.category:nth-child(3) .category-name {
  color: var(--Green-teal);
}

.category:nth-child(4) {
  background: var(--Cobalt-blue-alt);
}
.category:nth-child(4) .category-name {
  color: var(--Cobalt-blue);
}

.score {
  font-weight: var(--fw700);
}

.score span {
  color: var(--Dark-gray-blue);
}

.category-btn {
  display: inline-block;
  width: 100%;
  padding: 16px 1rem;
  margin-top: 2rem;
  border-radius: 100vw;
  color: var(--White);
  background: var(--linear-gradient-left-container);
}

.category-btn:hover {
  background: var(--linear-gradient-left-container-alt);
}
